.admin-panel {
    margin-top: 100px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    font-family: Roboto;
}

.admin-panel h1 {
    text-align: center;
    margin-bottom: 20px;
}

.admin-panel table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.admin-panel th, .admin-panel td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.admin-panel th {
    background-color: #f2f2f2;
}

.admin-panel tr:nth-child(even) {
    background-color: #f9f9f9;
}

.admin-panel tr:hover {
    background-color: #f1f1f1;
}

.admin-panel form label {
    display: block;
    margin-bottom: 5px;
}

.admin-panel form input {
    width: 97%;
    padding: 10px;
    margin-bottom: 10px;
}
.admin-panel form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.admin-panel form button {
    background-color: #ff5050;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.admin-panel form button:hover {
    background-color: #ff3333;
}
