/* БОДИ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s;
}

body {
    font-family: "Roboto";
}

a {
    text-decoration: none;
    color: #fff;
}

/* ------------------------------------------------------------------------------------------------------------- */
/* ХЕДЕР */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    padding: 20px;
    height: 80px;
    gap: 85px;
}

.logo {
    padding-top: 5px;
    font-size: clamp(2rem, 1.818rem + 0.91vw, 2.5rem);
    font-family: 'Lalezar', system-ui;
}

.logo-img img {
    width: 70%;
    margin-left: -80px;
}

.navigation {
    display: flex;
    justify-content: center;
    text-align: center;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    transition: color 0.3s ease;
    font-size: clamp(0.625rem, 0.298rem + 1.14vw, 1.25rem);
}

.nav-link:hover {
    color: #808080;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: .3s;
}

.hamburger span {
    display: block;
    height: 3px;
    width: 100%;
    background: white;
    border-radius: 3px;
}

/* ------------------------------------------------------------------------------------------------------------- */
/* ФУТЕР */

.hr {
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 20px;
}
.footer {
    padding: 2em;
  }
  
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .footer-help {
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  .footer-link, .footer-icon-link {
    margin: 0.5em;
    color: #000; 
    text-decoration: none;
    font-weight: 700;
  }
  
  .footer-icons {
    display: flex;
  }
  
  .footer-icon-link img {
    width: 30px; 
    height: auto;
  }
  
  .footer-rights {
    margin-top: 1em;
    color: #666; /* Используйте нужный цвет для текста об авторских правах */
    font-size: 0.75em;
  }
  
  /* Для изображений иконок необходимо будет указать правильные пути к файлам */
  







/* МЕДИА ПЛАНШЕТЫ */
@media (max-width: 1210px) {

    /* ---------------------------------------------------- */
    /* ХЕДЕР */

    .header {
        display: flex;
        justify-content: space-between; 
        align-items: center;
        background-color: #000;
        color: #fff;
        padding: 10px 20px;
        height: 80px;
        gap: 20px;
    }
    .navigation {
        margin: 0;
        margin-left: 74px;
    }

    .nav-link {
        margin: 10px;
        transform: translateX(0px);
    }

    .content-container img {
        border-radius: 0px;
        margin-top: 2px;
    }
    
    .content-container {
        gap: 0px;
        justify-content: center;
    }

    .login {
        transform: translateX(0px);
    }

    .label {
        font-size: clamp(1.5rem, 1.329rem + 0.98vw, 2.5rem);
    }

    .logo {
        font-size: 30px;
    }

    .logo-img img {
        /* width: 40%;
        margin-left: -10px; */
        display: none;
    }

    /* ---------------------------------------------------- */
    /* ФУТЕР */

    .site-footer {
        font-size: 14px;
        margin-top: 0px;
    }
    
    .footer-content {
        display: flex;
        justify-content: center;
        padding: 0px 20px;
        gap: 100px;
    }
        
    .footer-social {
        text-align: center;
    }
        
    .footer-social .social-link {
        display: block;
        margin-bottom: 10px;
    }
        
    .footer-social .social-icons a {
        color: #fff;
        text-decoration: none;
        padding: 5px;
    }
}








/* МЕДИА ТЕЛЕФОНЫ */
@media (max-width: 768px) {

    /* ---------------------------------------------------- */
    /* ХЕДЕР */

    .header {
        justify-content: space-between;
    }

    .hamburger {
        display: flex;
        margin-right: 0px;
    }

    .navigation {
        display: none;
        margin-left: 0px;
    }
    
    .navigation.show {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        background: #000;
        text-align: center;
        z-index: 1001;
        transition: .3s;
    }

    .nav-link {
        margin: 15px 0px;
        font-size: 16px;
    }

    .hamburger {
        display: flex;
    }
    
    .login {
        display: none; 
    }

    /* ---------------------------------------------------- */
    /* ФУТЕР */
    
    .footer-content {
        flex-direction: column;
        text-align: center;
        padding: 0px;
        gap: 0px;
        margin-left: 0px;
    }

    .footer-section {
        margin-bottom: 20px;
    }

    .footer-social .social-icons {
        display: flex;
        justify-content: center;
    }

    .footer-social .social-icons a {
        padding: 0 10px;
    }

    .site-footer {
        margin-bottom: 0px;
        margin-top: 0px;
    }
}