* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.1s;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

/* ------------------------------------------------------------------------------- */
/* ФОРМА АВТОРИЗАЦИИ */

.login-container {
    max-width: 340px;
    margin: 0 auto; 
    text-align: center;
    padding: 20px;
}

.login-container h2 {
    margin-top: 20px;
    margin-bottom: 20px; 
    font-size: 32px;
    text-align: center;
}

.login-form {
    margin: 0 auto;
    justify-content: center;
}

#login {
    border-radius: 10px;
}
.label-login {
    text-align: left;
}

#password {
    border-radius: 10px;
}
.label-password {
    text-align: left;
}

.input-container {
    margin-bottom: 15px; 
}

.input-container label {
    display: block;
    margin-bottom: 5px; 
    margin-top: 30px;
}

.input-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px; 
    border: 1px solid #ccc; 
    box-sizing: border-box;
}

.forgot-password {
    display: inline-block; 
    font-size: 0.8em; 
    text-decoration: none;
    color: #686868; 
}

.login-button {
    margin-top: 20px;
    width: 100%;
    padding: 20px;
    border: none;
    background-color: #000;
    color: #fff; 
    cursor: pointer;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 700;
}

.login-button:hover {
    background-color: #333; 
}

.registration {
    margin-top: 20px; 
}

.registration span {
    color: #686868;
}

.register-link {
    text-decoration: none;
    color: #000; 
}
.register-link:hover {
    text-decoration: underline;
}

/* СООБЩЕНИЯ О НЕВЕРНОМ ЗАПОЛНЕНИИ ПОЛЯ */
.message-container {
    margin-top: 20px; /* Или любой другой отступ, который вам нужен */
    text-align: center;
}

.message {
    display: inline-block;
    background-color: #f8d7da; /* Цвет фона для сообщения об ошибке */
    color: #721c24; /* Цвет текста для сообщения об ошибке */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #f5c6cb;
    margin-top: 10px;
    animation: fade-in-out 3s forwards; /* Анимация появления и исчезновения */
}

@keyframes fade-in-out {
    0%, 100% { opacity: 0; }
    10%, 90% { opacity: 1; }
}

/* ИНДИКАТОР ПРОХОЖДЕНИЯ ВАЛИДАЦИИ */
.valid-feedback {
    display: none;
    width: 16px;
    height: 16px;
    background-image: url('../static/image/checkmark.png'); /* Замените на путь к вашей иконке */
    background-size: cover;
    position: absolute;
    right: 10px;
    top: 10px; /* Адаптируйте значение в зависимости от высоты ваших полей ввода */
}

.input-valid {
    border-color: #28a745; /* Зеленый цвет границы для валидного поля */
}

.input-container {
    position: relative; /* Для позиционирования иконки внутри контейнера */
}
