/* MAIN SETTINGS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.1s;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

/* ПРОФИЛЬ */
.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 400px;
    margin: auto;
    margin-top: 60px;
  }
  
  .profile-header img {
    width: 284px;
  }
  
  .profile-header h1 {
    margin-top: 10px;
    font-size: 48px;
  }
  .profile-header p {
    margin-top: 5px;
    color: #808080;
    font-size: 24px;
  }
  
  .profile-menu ul {
    list-style-type: none;
    margin-top: 30px;
    font-size: 24px;
  }
  .profile-menu a {
    text-decoration: none;
    color: #000;
    transition: .1s;
  }
  .profile-menu a:hover {
    color: #808080;
  }
  
  .profile-menu li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .menu-icon {
    margin-right: 10px;
    width: 40px;
  }

  .navv-link {
    font-size: 24px;
    margin-left: 0px;
  }
  .profile-picture {
    border-radius: 50%;
    max-width: 250px;
    min-height: 250px;
    object-fit: cover;
  }

  






/* МЕДИА ПЛАНШЕТЫ */
@media (max-width: 1210px) {

  .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 400px;
    margin: auto;
    margin-top: 60px;
  }

  .profile-header img {
    width: 206px;
  }

  .profile-header h1 {
    margin-top: 10px;
    font-size: 32px;
  }
  .profile-header p {
    margin-top: 5px;
    color: #808080;
    font-size: 16px;
  }

  .profile-menu ul {
    list-style-type: none;
    margin-top: 30px;
    font-size: 20px;
  }
  .profile-menu a {
    text-decoration: none;
    color: #000;
  }

  .profile-menu li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .menu-icon {
    margin-right: 10px;
    width: 40px;
  }
  .navv-link {
    font-size: 20px;
    margin-left: 0px;
  } 
  .profile-picture {
    border-radius: 50%;
    max-width: 150px;
    min-height: 150px;
    object-fit: cover;
  }
  
}









/* МЕДИА ТЕЛЕФОНЫ */
@media (max-width: 768px) {

  .profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 400px;
  margin: auto;
  margin-top: 60px;
}

.profile-header img {
  width: 180px;
}

.profile-header h1 {
  margin-top: 10px;
  font-size: 32px;
}
.profile-header p {
  margin-top: 5px;
  color: #808080;
  font-size: 16px;
}

.profile-menu ul {
  list-style-type: none;
  margin-top: 30px;
  font-size: 16px;
}
.profile-menu a {
  text-decoration: none;
  color: #000;
  }

.profile-menu li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.menu-icon {
  margin-right: 10px;
  width: 29px;
}
.navv-link {
  font-size: 16px;
  margin-left: 0px;
} 
.profile-picture {
  border-radius: 50%;
  max-width: 150px;
  min-height: 150px;
  object-fit: cover;
}

}