<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>О компании</title>
        <link rel="stylesheet" href="../static/css/header-body-footer.css">
        <link rel="stylesheet" href="../static/css/about.css">
        <link rel="shortcut icon" href="https://sun6-23.userapi.com/s/v1/ig2/0UCKPgpHSjCpjYcP-Enzc_XkMZmCXf8xhcoVHLTeMMGbrQjLijTHdxM9SdJiF92gWCBYITaegdVd6kNqShPB1Nu-.jpg?size=1117x1117&quality=95&crop=5,0,1117,1117&ava=1" type="image/png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lalezar&family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
    </head>
    <body>
        
    <!-- ХЕДЕР -->
    <header class="header">
        <div class="logo">
            <a href="/">SPRINTWAY</a>
        </div>
        <div class="logo-img">
            <img src="../static/image/logo.gif">
          </div>
        <nav class="navigation" id="navigation">
            <a href="/mens" class="nav-link">Мужчинам</a>
            <a href="/womens" class="nav-link">Женщинам</a>
            <a href="/sale" class="nav-link">Распродажа</a>
            <a href="/about" class="nav-link">О компании</a>
            {% if current_user.is_authenticated %}
            <a href="/profile" class="nav-link login-link">Профиль</a>
            {% else %}
            <a href="/login" class="nav-link login-link">Войти</a>
            {% endif %}
        </nav>
        <button class="hamburger" id="hamburger" aria-label="Toggle menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </header>

    <div class="container">
        <div class="promo-block">
          <div class="promo-text">
            <span class="promo-h1">ДОБРО ПОЖАЛОВАТЬ В SPRINTWAY — ВАШ ИДЕАЛЬНЫЙ МИР КРОССОВОК!</span>
            <p>В Sprintway мы предлагаем не просто обувь, а путешествие в мир комфорта, стиля и инноваций.</p>
            <p>Наш интернет-магазин занимается продажей кроссовок для каждого, кто ценит качество и стремится выглядеть актуально. Мы тщательно отбираем каждую модель, чтобы предложить вам лучшее от ведущих брендов, а также эксклюзивные новинки.</p>
            <p>В Sprintway вы найдете кроссовки для любой активности: от профессионального спорта до повседневной городской жизни. Мы верим, что правильная обувь может изменить весь день и даже весь образ жизни. Наша миссия — обеспечить каждого клиента обувью, которая не только удобна и функциональна, но и подчеркивает его индивидуальность.</p>
            <p>В Sprintway мы ценим каждого клиента и стремимся предоставить лучший сервис. Наши консультанты всегда готовы помочь вам с выбором, а удобная и быстрая доставка гарантирует, что ваши новые кроссовки быстро окажутся у вас. Присоединяйтесь к нам в путешествии по миру стиля и комфорта с Sprintway!</p>
          </div>
        </div>
    </div>
    <div class="about-bg">
        <img src="../static/image/about-bg.png" alt="">
    </div>
    <div class="container">
        <div class="promo-block">
          <div class="promo-text">
            <span class="promo-h1">ДОСТАВКА И ВОЗВРАТ</span>
            <p>В Sprintway мы стремимся к тому, чтобы процесс покупки был для вас максимально удобным и приятным. Мы предлагаем различные варианты доставки, чтобы вы могли выбрать наиболее подходящий для себя.</p>
            <p>— <b>Стандартная доставка:</b> Предоставляется бесплатно для всех заказов в пределах страны. Срок доставки составляет от 3 до 5 рабочих дней.</p>
            <p>— <b>Экспресс-доставка:</b> Для тех, кто хочет получить заказ как можно быстрее, мы предлагаем услугу экспресс-доставки. Срок доставки — 1-2 рабочих дня. Стоимость услуги рассчитывается индивидуально в зависимости от адреса доставки.</p>
            <p>После оформления заказа вы получите подтверждение с номером для отслеживания, чтобы всегда быть в курсе, где находятся ваши кроссовки.</p>
            <p>Мы уверены в высоком качестве нашей продукции, однако понимаем, что иногда покупка может не соответствовать ожиданиям. Если по какой-то причине вы хотите вернуть купленный товар, мы предлагаем простую и удобную процедуру <b>возврата в течение 30 дней</b> с момента покупки.</p>
            <p>Для возврата товара необходимо заполнить соответствующую форму при получении товара и отправить его обратно в магазин.</p>
            <p>Мы стремимся к тому, чтобы каждый клиент остался доволен своим выбором и сервисом нашего магазина. Если у вас возникнут вопросы или нужна дополнительная помощь, наша команда поддержки всегда к вашим услугам.</p>
          </div>
        </div>
    </div>
    <div class="about-bg">
        <img src="../static/image/about-bg.png" alt="">
    </div>
    <div class="container" style="background: #791326;">
        <div class="promo-block-2">
          <div class="promo-text-3">
            <span class="promo-h2">ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ (FAQ)</span><br><br>
            <p><b>Q: Какие способы доставки доступны в вашем магазине?</b></p>
            <p>A: Мы предлагаем доставку всех заказов через службу доставки СДЭК. При оформлении заказа вы можете выбрать удобный для вас пункт выдачи или заказать доставку до двери.</p><br>
            <p><b>Q: Сколько стоит доставка заказа?</b></p>
            <p>A: Стоимость доставки зависит от расстояния до указанного адреса и выбранного типа доставки (стандартная доставка бесплатная). Сотрудник ПВЗ предоставит накладную с информацией о стоимости доставки заказа.</p><br>
            <p><b>Q: Какими способами я могу оплатить свой заказ?</b></p>
            <p>A: Оплатить заказ вы можете с помощью банковской карты или наличными при получении заказа в пункте выдачи СДЭК.</p><br>
            <p><b>Q: Могу ли я вернуть кроссовки, если они мне не подошли?</b></p>
            <p>A: Да, вы можете вернуть кроссовки в течение 30 дней после получения, если они не были в использовании и сохранены все бирки и упаковка. Для оформления возврата необходимо заполнить форму возврата после примерки заказа в ПВЗ.</p><br>
            <p><b>Q: Где я могу следить за новостями вашего магазина?</b></p>
            <p>A: Мы активно ведем страницы в таких социальных сетях, как Telegram, ВКонтакте и Instagram. Подписывайтесь на нас, чтобы узнавать о новинках, акциях и специальных предложениях.</p><br>
            <p><b>Q: Могу ли я получить консультацию в социальных сетях?</b></p>
            <p>A: Да, наши менеджеры готовы ответить на ваши вопросы в мессенджерах социальных сетей. Не стесняйтесь обращаться к нам за помощью или консультацией.</p><br>
          </div>
        </div>
    </div>

    <!-- ФУТЕР -->
    <div id="footer-placeholder"></div>

    <!-- JAVASCRIPT -->
    <script src="../static/js/header-footer.js"></script>
    <script src="../static/js/hamburger.js"></script>

    </body>
</html>