<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Корзина</title>
        <link rel="stylesheet" href="../static/css/cart.css">
        <link rel="stylesheet" href="../static/css/header-body-footer.css">
        <link rel="shortcut icon" href="https://sun6-23.userapi.com/s/v1/ig2/0UCKPgpHSjCpjYcP-Enzc_XkMZmCXf8xhcoVHLTeMMGbrQjLijTHdxM9SdJiF92gWCBYITaegdVd6kNqShPB1Nu-.jpg?size=1117x1117&quality=95&crop=5,0,1117,1117&ava=1" type="image/png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lalezar&family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
    </head>
    <body>

    <!-- ХЕДЕР -->
    <header class="header">
      <div class="logo">
          <a href="/">SPRINTWAY</a>
      </div>
      <div class="logo-img">
        <img src="../static/image/logo.gif">
      </div>
      <nav class="navigation" id="navigation">
          <a href="/mens" class="nav-link">Мужчинам</a>
          <a href="/womens" class="nav-link">Женщинам</a>
          <a href="/sale" class="nav-link">Распродажа</a>
          <a href="/about" class="nav-link">О компании</a>
          {% if current_user.is_authenticated %}
          <a href="/profile" class="nav-link login-link">Профиль</a>
          {% else %}
          <a href="/login" class="nav-link login-link">Войти</a>
          {% endif %}
      </nav>
      <button class="hamburger" id="hamburger" aria-label="Toggle menu">
          <span></span>
          <span></span>
          <span></span>
      </button>
    </header>

    <!-- ФИЛЬТР -->
    <div class="filter-section">
        <h1>Корзина</h1>
        <div id="empty-cart-message" class="empty-cart" style="display: none;">
            Товары в корзине отсутствуют.
        </div>        
        <!-- {% if is_favorite_empty %} -->
            <div class="non-product">
                Товары в корзине отсутствуют.
            </div>
        <!-- {% else %} -->

        <!-- КАРТОЧКИ ТОВАРОВ -->
        <div class="products-container">
            <div class="products">
                {% for product in products %}
                <div class="product" id="product-{{ product.id }}">
                    <img src="{{ product.image_url }}" alt="{{ product.name }}">
                    <div class="product-rows">
                        <div class="left-row">
                            <p class="brand">{{ product.name }}</p>
                            <p class="size">
                                Размер:
                                <select name="size-{{ product.id }}">
                                    {% for size in product.size.split() %}
                                    <option value="{{ size }}">{{ size }}</option>
                                    {% endfor %}
                                </select>
                            </p>
                            <p class="quantity">
                                Количество:
                                <input type="number" name="quantity-{{ product.id }}" value="1" min="1">
                            </p>
                            <p class="price">{{ product.price }} ₽</p>
                        </div>
                        <div class="right-row">
                            <img src="../static/image/cart-on.png" alt="cart" class="cart delete-product" onclick="toggleFavorite('{{ product.id }}', this)">
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
    <button type="submit" class="submit"><a href="/checkout" class="sub"><span class="order-text">Оформить заказ</span><span class="order-details"></span></a></button>


    <!-- СООБЩЕНИЕ О ДОБАВЛЕНИИ/УДАЛЕНИИ ТОВАРА В/ИЗ ИЗБРАННОЕ(-ГО) -->
    <div id="message-container"></div>
    
    <!-- ФУТЕР -->
    <hr class="hr">
    <div id="footer-placeholder"></div>
      
    <!-- JAVASCRIPT -->
    <script src="../static/js/header-footer.js"></script>
    <script src="../static/js/hamburger.js"></script>
    <script src="../static/js/dynamic.js"></script>
    <script src="../static/js/cart.js"></script>


    </body>
</html>