<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FOOTER</title>
    <link rel="stylesheet" href="../static/css/header-body-footer.css">
</head>
<body>

    <!-- ФУТЕР -->
    <footer class="footer">
        <div class="footer-container">
          <div class="footer-help">
            <a href="#" class="footer-link">ПОЛУЧИТЬ ПОМОЩЬ</a><br>
            <a href="#" class="footer-link">ОСТАВИТЬ ОТЗЫВ</a>
          </div>
          <div class="footer-icons">
            <a href="#" class="footer-icon-link"><img src="../static/image/tg.png" alt="Telegram"></a>
            <a href="https://www.instagram.com/sprintway.shop?igsh=MTFoOXA1am1qaGQ5eA==" class="footer-icon-link"><img src="../static/image/inst.png" alt="VK"></a>
            <a href="#" class="footer-icon-link"><img src="../static/image/vk.png" alt="Instagram"></a>
          </div>
          <div class="footer-rights">
            © SPRINTWAY, 2024. Все материалы защищены авторским правом
          </div>
        </div>
      </footer>      

</body>
</html>